/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1600px) {

 /*--header-top-section---*/

 .header-too-menu-address ul li {
    padding-right: 10px;
}

 .header-top-info:before {
    width: 80%;
    left: 40px;
}

.header-top-menu-social-icon ul li {
    padding-left: 15px;
}

 /*--header-section---*/

 nav._menu {
    margin-left: 15px;
}

._menu>ul>li>a {
    margin: 30px 10px;
}

 /*--hero-section---*/

 .slider-content h1 {
    font-size: 60px;
    line-height: 65px;
}

 /*---section-title---*/

 .section-title h1 {
    font-size: 40px;
    line-height: 50px;
}

/*---about2-title---*/

.about-thumb2 img {
    width: 100%;
}

.about-thumb2:before {
    width: 546px;
}

.text h4 {
    font-size: 15px;
    bottom: 42%;
    left: -126px;
}

 /*---counter-section---*/

.counter-text p {
    width: 70%;
}

 /*---brand-section---*/

.brand-text:before {
    left: -10px;
}

.brand-text:after {
    right: -10px;
}

 /*---testimonial-section---*/

.testimonial-section .owl-prev {
    left: -20px;
}

.testimonial-section .owl-next {
    right: -20px;
}

 /*---event-section---*/

 .single-event-box {
    padding: 18px 0 40px 18px;
}

 .event-thumb {
    margin-right: 10px;
}

.event-content a {
    font-size: 20px;
    line-height: 20px;
}

table.tabel-tab td {
    font-size: 13px;
}

table.tabel-tab td span {
    font-size: 13px;
}

 /*---blog-section---*/

 .blog-content {
    padding: 0 15px 20px;
}

 .blog-button a i {
    font-size: 12px;
}

.blog-button a {
    padding: 12px 20px;
}

.meta-text h3 a {
    font-size: 20px;
    line-height: 30px;
}

 /*---subscribe-section---*/

.subscribe-icon {
    margin: 6px 25px 0 0;
}

.mail-address input {
    padding: 17px 135px 17px 30px;
}

 /*---header-top-menu-style-two---*/

 /*---header-section---*/

 ._nav_manu.style2 .header-button {
    margin-right: 0;
}

._nav_manu {
    padding: 0 0px 0;
}

._nav_manu.style2 nav._menu {
    margin-left: 85px;
}

._nav_manu.style2 ._menu ul {
    margin-right: 0px;
}

/*---hero-section---*/

.hero-thumb img {
    width: 100%;
}

.hero-content h1 {
    font-size: 45px;
    line-height: 50px;
}

.owl-dots {
    top: 84%;
    right: 17rem;
}

.hero-icon {
    display: none;
}

/*---about-list2-section---*/

.about-list2 ul li {
    padding: 17px 15px 17px 30px;
}

/*---offer-section---*/

.offer-icon {
    left: 65px;
}

.offer-content a {
    font-size: 17px;
}

/*---team-section---*/

.team-shape {
    left: 30px;
}

/*---blog-list-section---*/

.widget_search form input {
    padding: 15px 48px 15px 15px;
}

.rpost-title a {
    font-size: 18px;
    width: 100%;
}

.tag-item ul li a {
    padding: 5px 15px;
}

.breadcumb-title h1 {
    font-size: 48px;
}

.post-title.up {
    margin-right: 15%;
}

.blog-details-comment-content p {
    font-size: 14px;
    width: 100%;
}

.event-details-content a {
    font-size: 25px;
}

.widget-address-content p {
    font-size: 15px;
}

ul.widgetsidebar-menu li a:before {
    width: 285px;
}
 
.causes-content a {
    font-size: 18px;
}

.causes-prich ul li {
    font-size: 14px;
}

li.upper {
    margin-right: 14px;
}

.causes-details-sidebar-title a {
    font-size: 16px;
}

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

   /*--header-top-section---*/ 
 
.header-too-menu-address ul li {
    font-size: 13px;
    padding-right: 0px;
}

.header-too-menu-address ul li span {
    font-size: 13px;
    padding-left: 2px;
}

.header-top-info:before {
    width: 80%;
    left: 38px;
}

.header-top-info ul li {
    padding: 0 8px 0;
}

.header-top-menu-social-icon ul li {
    padding-left: 15px;
}

/*--header-section---*/ 

nav._menu {
    margin-left: 35px;
}

._menu>ul>li>a {
    margin: 30px 5px;
    font-size: 14px;
}

.header-button a {
    padding: 12px 18px;
    font-size: 14px;
}

.header-button a i {
    padding-left: 0px;
    font-size: 12px;
}

.search-box-btn.search-box-outer i {
    font-size: 16px;

}

/*--slider-section---*/ 
.slider-content h5 {
    font-size: 18px;
}

.slider-content h1 {
    font-size: 45px;
    line-height: 55px;

}

.hero-icon {
    display: none;
}

/*--icon-box-section---*/ 

.box-text h4 {
    font-size: 16px;
    line-height: 22px;
}

.icon-desc p {
    font-size: 16px;
}

/*--about-section---*/ 
.about-thumb img {
    width: 100%;
}

.about-shape1 {
    left: 0px;
}

.about-shape {
    top: -35rem;
}

/*--section-title---*/ 
.section-title h1 {
    font-size: 32px;
    line-height: 40px;
}

p.section-dsc-1 {
    width: 100%;
}

.about-content p {
    width: 100%;
}

/*--counter-section---*/ 

.counter-text p {
    width: 80%;
}

/*--about2-section---*/ 

.about-text2 p {
    font-size: 16px;
    line-height: 28px;
    width: 99%;
}

.about-thumb2:before {
    width: 456px;
}

.about-thumb2 img {
    width: 100%;
}

.text h4 {
    font-size: 14px;
    padding: 12px 30px;
    bottom: 42%;
    left: -100px;
}

/*--about2-section---*/ 


.portfolio-content h5 {
    font-size: 14px;
}

.portfolio-content a {
    font-size: 15px;
    margin-top: 2px;
}

/*--brand-section---*/ 

.single-brand-box {
    padding: 30px 15px 30px;
}


.brand-text:before {
    left: -5px;
    width: 40%;
}

.brand-text:after {
    right: -5px;
    width: 40%;
}

/*--testimonial-section---*/ 

.testi-content p {
    font-size: 20px;
    width: 88%;
    padding: 40px 0px 20px;
}

.testimonial-section .owl-prev {
    display: none;
}

.testimonial-section .owl-next {
    display: none;
}

/*--event-section---*/ 

.event-thumb {
    float: inherit;
    margin-right: 20px;
}

.event-thumb img {
    width: 100%;
    margin-bottom: 30px;
}

.event-content {
    padding: 0 5px 0;
}

/*--blog-section---*/ 

.blog-description p {
    width: 97%;
}

.blog-button a {
    font-size: 15px;
    padding: 10px 13px;
}

.blog-button a i {
    font-size: 10px;
    padding-left: 0px;
}

.blog-content {
    padding: 0 12px 20px;
}

.meta-text h3 a {
    font-size: 17px;
    line-height: 25px;
}

/*--subscribe-section---*/ 

.subscribe-icon {
    margin: 6px 15px 0 0;
}

.subscribe-content h1 {
    font-size: 30px;
}

.mail-address input {
    padding: 17px 20px 17px 30px;
}

/*--footer-section---*/ 

.footer-widget-menu ul li a {
    font-size: 13px;
}

.footer-widget-menu ul li span {
    width: 100%;
}

 /*---header-menu-style-two---*/

 ._menu>ul>li>a {
    margin: 30px 5px;
    font-size: 16px;
}

 ._nav_manu {
    padding: 0 0px 0;
}

 ._nav_manu.style2 ._menu ul {
    margin-right: -8px;
}

._nav_manu.style2 .header-button {
    margin-right: 0;
}

._nav_manu.style2 nav._menu {
    margin-left: 50px;
}

 /*---slider-style-two---*/
 .hero-content h1 {
    font-size: 40px;
    line-height: 40px;
}

.single-counter {
    margin-top: 50px;
}

.hero-thumb img {
    width: 100%;
}

.hero-shape {
    left: 0%;
}

.owl-dots {
    top: 82%;
    right: 10rem;
}

 /*---about-style-two---*/
.about-section.style2 .about-shape {
    top: -32rem;
    left: 0%;
}

.about-list2 ul li {
    padding: 17px 30px 17px 6px;
}

.about-list2 ul li i {
    margin-right: 5px;
}

.about-list2 ul li {
    padding: 17px 10px 17px 6px;
}

 /*---offer-style-two---*/

 .offer-icon {
    left: 50px;
}

.offer-content {
    padding: 0 20px 35px;
}

.offer-content a {
    font-size: 15px;
}

.offer-content p {
    font-size: 14px;
}

 /*---team-style-two---*/

.team-shape {
    left: 7px;
}

 /*---feature-style---*/

.feature-content h4 {
    font-size: 20px;
}

.breadcumb-title h1 {
    font-size: 40px;
    margin-top: 0px;
}

 /*---contact-style---*/

.contact-us-content p {
    font-size: 16px;
}

.contact-from-section p.section-dsc-1 {
    width: 100%;
}

 /*---blog-list-style---*/

.widget_search form input {
    padding: 15px 35px 15px 10px;
}

.widget_search form i {
    right: 15px;
}

.rpost-title a {
    font-size: 13px;
    line-height: 22px;
    width: 100%;
}

.rpost-title span {
    font-size: 12px;
}

.tag-item ul li a {
    font-size: 15px;
    padding: 3px 7px;
}

.post-title.up {
    margin-right: 10%;
}

.post-list ul li a {
    padding: 7px 12px;
}

.blog-details-content h3 {
    font-size: 22px;
}

.blog-details-comment-content p {
    font-size: 14px;
    width: 100%;
}

.contact-text h3 {
    font-size: 22px;
}

.event-details-content a {
    font-size: 25px;
}

.social-info p {
    font-size: 14px;
}

.event-sidebar-box {
    padding: 35px 20px 35px;
}

.event-sidebar-title a {
    font-size: 15px;
}

.department-details-title p {
    font-size: 15px;
}

.department-details-list ul li span {
    font-size: 13px;
}

ul.widgetsidebar-menu li a:before {
    width: 230px;
}

.causes-content a {
    font-size: 14px;
}

li.upper {
    margin-right: 0px;
}

.causes-content p {
    font-size: 14px;
}

.causes-details-sidebar-post.causes:before {
    display: none;
}

.causes-details-sidebar-title p {
    font-size: 14px;
}

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.sticky {
    position: absolute !important;
}

 /*--header-top-section---*/

.header-top-section {
    display: none;
}
   
/* ._nav_manu {
    display: none;
} */

/*--slider-section---*/

.slider-content h1 {
    font-size: 45px;
    line-height: 55px;
}

.single-counter {
    margin-top: 25px;
}

/*--icon-box-section---*/

.single-box-icon {
    margin-bottom: 70px;
}

/*--about-section---*/

.about-thumb img {
    width: 100%;
    margin-bottom: 40px;
}

.about-shape1 {
    bottom: 75px;
    left: 60px;
}

.about-shape {
    top: -55rem;
    left: 67%;
}

/*--section-title---*/

.section-title h1 {
    font-size: 28px;
    line-height: 38px;
}

/*--about2-title---*/

.about-thumb2 img {
    width: 100%;
    margin-top: 30px;
}

.about-thumb2:before {
    width: 696px;
    top: 30px;
}

/*--brand-title---*/


.brand-text:before {
    width: 35%;
}

.brand-text::after {
    bottom: 12px;
    width: 35%;
}

/*--testimonial-title---*/

.testimonial-section .owl-prev {
    display: none;
}

.testimonial-section .owl-next {
    display: none;
}

.testi-content p {
    width: 98%;
}

/*--event-title---*/

.event-content a {
    font-size: 19px;
}

/*--blog-title---*/

.blog-button {
    text-align: left;
    margin: 0 0 30px;
}

.blog-description p {
    width: 90%;
}

.meta-text h3 a {
    font-size: 22px;
}

/*--blog-title---*/

.row.upper {
    padding: 0 20px 0;
}

.subscribe-icon {
    margin: 6px 15px 0 0;
}

.Subcribe-button button {
    padding: 17px 24px;
}

.mail-address input {
    padding: 17px 0px 17px 15px;
}

.subscribe-content h1 {
    font-size: 23px;
}

/*--header-style-two---*/
.sticky {
    position: absolute !important;
}

.header-top-section.style2 {
    display: none;
}

/* ._nav_manu.style2 {
    display: none;
} */

/*--slider-style-two---*/

.hero-content h1 {
    font-size: 45px;
    line-height: 50px;
}

.hero-icon {
    display: none;
}

.hero-thumb img {
    width: 100%;
    margin-top: 30px;
}

.hero-shape {
    left: -90%;
    top: 68%;
}

.owl-dots {
    top: 96%;
    right: 22rem;
}

.about-section.style2 .about-shape {
    top: -50rem;
    left: 0%;
}

.about-shape3 {
    bottom: 10px;
    left: -38px;
}

.about-section.style2 .about-shape1 {
    display: none;
}

/*--about-style-two---*/

.about-content p {
    width: 100%;
}

.section-title h1 {
    font-size: 26px;
}

/*--offer-style---*/

.offer-icon {
    left: 100px;
    top: -25px;
}

/*--team-style---*/

.team-shape {
    top: -10px;
    left: 67px;
}

.team-button {
    text-align: left;
    margin-bottom: 30px;
}

.team-section .section-title {
    margin-bottom: 15px;
}

.breadcumb-title h1 {
    font-size: 35px;
    margin-top: 0px;
}

/*--blog-list-section---*/

.widget_search form i {
    right: 48%;
}

.tag-item ul li a {
    padding: 5px 40px;
}

.blog-details-content a {
    font-size: 14px;
}

.post-title.up {
    margin-right: 11%;
}

.blog-details-content h3 {
    font-size: 20px;
}

.submit-button.upper button {
    margin-bottom: 30px;
}

.event-details-content a {
    font-size: 25px;
}

.faq-title {
    margin-top: 20px;
}

.service-details-content p {
    width: 97%;
}

.causes-details-button {
    margin-top: 20px;
    margin-bottom: 30px;
}

}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .sticky {
        position: absolute !important;
    }

/*--header-top-section---*/
.header-top-section {
    display: none;
}

/* ._nav_manu {
    display: none;
} */
.nav_heading h5{
    font-size: 16px;
    text-align: center;
}
.nav_heading p{
    font-size: 14px;
    text-align: center;
}
/*--slider-section---*/

.slider-content h5 {
    font-size: 18px;
    padding-bottom: 15px;
}

.slider-content h1 {
    font-size: 38px;
    line-height: 50px;
}

.owl-prev {
    display: none;

}

.owl-next {
    display: none;
}

/*--icon-box-section---*/

.single-box-icon {
    margin: 0 60px 70px;
}

.icon-button {
    text-align: left;
}

/*--about-section---*/

.about-thumb img {
    width: 100%;
    margin-bottom: 30px;
}

/*--section-title---*/
.section-title h1 {
    font-size: 32px;
    line-height: 40px;
}

/*--about2-section---*/
.about-section2 p.section-dsc-1 {
    width: 100%;
}

.about-text2 p {
    font-size: 18px;
}

.about-thumb2 img {
    width: 100%;
    margin-top: 30px;
}

.text h4 {
    font-size: 15px;
    padding: 14px 30px;
    bottom: 38%;
    left: -106px;
}

.about-thumb2:before {
    top: 21px;
    width: 516px;
}

/*--brand-section---*/

.brand-text:before {
    width: 31%;
}

.brand-text:after {
    width: 31%;
}

.single-brand-box {
    padding: 30px 160px 30px;
}

/*--testimonial-section---*/

.testi-content p {
    font-size: 16px;
    width: 100%;
}

/*--event-section---*/

.event-thumb {
    float: inherit;
}

.event-thumb img {
    width: 100%;
    margin-bottom: 30px;
}

/*--blog-section---*/

.blog-button {
    text-align: left;
    margin: 5px 0 30px;
}

.blog-description p {
    margin-top: -40px;
}

.meta-text h3 a {
    font-size: 22px;
}

/*--Subcribe-section---*/

.mail-address {
    display: inline-flex;
    float: left;
}

.subscribe-icon {
    margin: 6px 25px 0 0;
}

.subscribe-content h1 {
    font-size: 28px;
}

.mail-address input {
    display: inline-block;
    padding: 17px 55px 17px 30px;
    border: none;
}

/*--header-style-section---*/

.hero-content h1 {
    font-size: 35px;
    line-height: 42px;
}

.hero-content p {
    font-size: 15px;
    line-height: 30px;
    width: 100%;
    margin: 5px 0 12px;
}

.hero-icon {
    display: none;
}

.single-counter {
    margin-top: 20px;
}

.hero-thumb img {
    width: 100%;
    margin-top: 30px;
}

.hero-shape {
    left: -103%;
    top: 57%;
}

.owl-dots {
    top: 95%;
    right: 16rem;
}


/*--about-style-two---*/

.about-section.style2 .about-shape {
    top: -39rem;
    left: 0%;
}

.about-shape3 {
    bottom: -21px;
    left: -32px;
}

.about-section.style2 .about-shape1 {
    display: none;
}

.about-list2 ul li {
    padding: 17px 10px 17px 30px;
}

.about-thumb img {
    width: 100%;
    margin-bottom: 40px;
}

.about-content p {
    width: 100%;
}

.call-do-action-area .text-center {
    text-align: inherit !important;
    margin-top: 65px;
}

.event-content a {
    font-size: 17px;
}

.event-section .section-title {
    margin-bottom: 20px;
}

.offer-icon {
    left: 190px;
    top: -50px;
}

.offer-section .section-title {
    margin-bottom: 40px;
}

/*--about-style-two---*/

.team-button {
    text-align: left;
    margin-bottom: 30px;
}

.team-section .section-title {
    margin-bottom: 15px;
}

.team-shape {
    left: 158px;
}

.portfolio-area .section-title {
    margin-bottom: 25px;
}

.breadcumb-title h1 {
    font-size: 45px;
    margin-top: 0px;
}

/*--contact-section---*/

.breadcumb-title h1 {
    font-size: 40px;
}

.contact-us-content p {
    width: 66%;
}

   /*--blog-list-section---*/

.widget_search form i {
    right: 158px;
}

.blog-details-meta-text {
    margin: 20px 0 8px;
}

.blog-details-content p {
    font-size: 13px;
}

.blog-details-content a {
    font-size: 14px;
}

.post-list ul li {
   margin-bottom: 10px;
}

.post-list ul li a {
    font-size: 14px;
    padding: 5px 14px;
}

.blog-details-content h3 {
    font-size: 19px;
}


.blog-details-comment-content p {
    font-size: 13px;
    width: 100%;
}

.submit-button.upper button {
    margin-bottom: 30px;
}

.event-details-content a {
    font-size: 20px;
    margin: 15px 0 10px;
}

.faq-title {
    margin-top: 20px;
}

.accordion li a {
    font-size: 14px;
}

.service-details-content p {
    width: 75%;
    margin: auto;
}

.causes-thumb img {
    width: 100%;
}

li.upper {
    margin-right: 250px;
}

.causes-details-button {
    margin-top: 20px;
    margin-bottom: 30px;
}

}

/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .sticky {
        position: absolute !important;
    }

   /*--header-top-section---*/
 
.header-top-section {
    display: none;
}

/* ._nav_manu {
    display: none;
} */
._nav_manu h5{
    font-size: 16px;
    text-align: center;
}
._nav_manu p{
    font-size: 14px;
    text-align: center;
}


   /*--slider-section---*/

.slider-content h1 {
    font-size: 32px;
    line-height: 40px;
}

.slider-content h5 {
    font-size: 18px;
}

.owl-prev {
    display: none;
}

.owl-next {
    display: none;
}

/*--icon-box-section---*/
.single-box-icon {
    margin: 0 70px 70px;
}

.icon-button {
    text-align: left;
}

/*--about-section---*/

.about-thumb img {
    width: 100%;
    margin-bottom: 35px;
}

p.section-dsc-1 {
    width: 100%;
}

.about-content p {
    width: 100%;
}

/*--section-title---*/

.section-title h1 {
    font-size: 28px;
    line-height: 40px;
}

/*--about2-section---*/
.about-text2 p {
    font-size: 16px;
    line-height: 26px;
}

.about-thumb2 img {
    width: 100%;
    margin-top: 30px;
}

.about-thumb2:before {
    top: 30px;
    width: 456px;
}

.text h4 {
    font-size: 15px;
    padding: 8px 16px;
    bottom: 38%;
    left: -82px;
}

.about-shape2 {
    left: 2px;
}

/*--brand-section---*/

.single-brand-box {
    padding: 30px 155px 30px;
}

.brand-text:before {
    width: 28%;
}

.brand-text:after {
    width: 28%;
}

/*--testimonial-section---*/

.testi-content p {
    width: 93%;
    padding: 30px 0px 15px;
}

/*--event-section---*/

.event-thumb {
    float: inherit;
    margin-right: 0;
}

.event-thumb img{
    width: 100%;
}

.event-content a {
    font-size: 20px;
}

/*--blog-section---*/

.blog-description p {
    font-size: 15px;
    margin-top: -50px;
}

.blog-button {
    text-align: left;
    margin: 0px 0 30px;
}

.meta-text h3 a {
    font-size: 20px;
}

.blog-content {
    padding: 0 17px 20px;
}

/*--Subcribe-section---*/

.mail-address {
    display: inline-flex;
    float: left;
    margin-top: 0;
}

.row.upper {
    padding: 0 5px 0;
}

.subscribe-content h1 {
    font-size: 30px;
}

.mail-address input {
    padding: 17px 42px 17px 30px;
}

 /*--slider-style-two-section---*/

 .hero-content h1 {
    font-size: 35px;
    line-height: 40px;
}

.single-counter {
    margin-top: 20px;
}

.hero-social-icon {
    display: none;
}

.hero-thumb img {
    width: 100%;
    margin-top: 30px;
}

.hero-shape {
    left: -98%;
}

.owl-dots {
    top: 95%;
    right: 12rem;
}

 /*--about-style-two-section---*/

.about-all-shape {
    display: none;
}

.about-list2 ul li {
    padding: 17px 18px 17px 10px;
}

.about-list2 ul li span {
    font-size: 17px;
}

 /*--call-do-action-style-two-section---*/

.call-do-action-area .text-center {
    text-align: left !important;
    margin: 40px 20px 0;
}

.section-title h1 {
    font-size: 25px;
    line-height: 30px;
}

.event-section .section-title {
    margin-bottom: 40px;
}

 /*--offer-style-two-section---*/


.offer-icon {
    left: 165px;
    top: -40px;
}

 /*--team-style-two-section---*/

.team-button {
    text-align: left;
    margin-bottom: 30px;
}

.team-section .section-title {
    margin-bottom: 30px;
}

.team-shape {
    left: 127px;
}

.portfolio-area .section-title {
    margin-bottom: 25px;
}

.breadcumb-title h1 {
    font-size: 45px;
    margin-top: 0px;
}
 
 /*--contact-section---*/

.breadcumb-title h1 {
    font-size: 35px;
}

.widget_search form i {
    right: 98px;
}

.blog-details-meta-text {
    margin: 15px 0 12px;
}

.blog-details-content a {
    font-size: 14px;
}

.post-list ul li {
    margin-bottom: 10px;
}

.blog-details-content h3 {
    font-size: 18px;
    margin: 18px 0 18px;
}

.blog-details-comment-content p {
    font-size: 14px;
    width: 100%;
}

.submit-button.upper button {
    margin-bottom: 30px;
}

.event-details-content a {
    font-size: 22px;
}

.accordion li a {
    padding: 14px 5px 14px 10px;
    font-size: 13px;

}

.widget-company-content a {
    font-size: 17px;
}

.faq-title {
    margin-top: 20px;
}

.service-details-content p {
    width: 80%;
    margin: auto;
}

.portfolio-details-content a {
    margin: 30px 0 25px;
}

.causes-thumb img {
    width: 100%;
}

li.upper {
    margin-right: 190px;
}

.causes-details-button {
    margin-top: 20px;
    margin-bottom: 30px;
}

}

/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* .sticky {
        position: absolute !important;
    } */

     /*--header-top-section---*/
     /* .header-top-section {
        display: none;
    } */

    nav._menu {
        display: none;
    }
.nav_heading h5{
    font-size: 16px;
    text-align: center;
}
.nav_heading p{
    font-size: 14px;
    text-align: center;
}

/*--slider-section---*/

    .slider-content h5 {
        font-size: 16px;
    }

    .slider-content h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .owl-prev {
        display: none;
    }

    .owl-next {
        display: none;
    }

    .section-button a {
        margin-bottom: 30px;
    }

    .single-box-icon {
        margin: 0 20px 70px;
    }
    
/*--icon-section---*/

    .icon-desc p {
        font-size: 16px;
    }

    .icon-button {
        text-align: left;
    }

    .icon-button a {
        padding: 12px 32px;
    }

/*--about-section---*/
    .about-thumb img {
        width: 100%;
        margin-bottom: 30px;
    }

    .about-all-shape {
        display: none;
    }

/*--section-title-section---*/

.section-title h5 {
    font-size: 12px;
}

.section-title h1 {
    font-size: 19px;
    line-height: 28px;
}

p.section-dsc-1 {
    width: 100%;
}
.about-content2{
background-color: #f8f8f8;
 margin: 10px;
padding: 52px;
   
}
.about-content p {
    width: 100%;
}

.about-button {
    margin: 0 30px 30px 0;
}

.counter-text p {
    width: 83%;
}

.about-button a {
    padding: 12px 32px;
}

.counter-text h1 {
    font-size: 40px;
}

.counter-text span {
    font-size: 40px;
}
.about-thumb2:before {
    
    position: absolute;
    content: "";
    /* left: 0; */
    left: 1px;
    top: 0;
    width: 600px;
    /* width: 905px; */
    height: 10px;
    background-color: #04bebe;
}
/*--about2-section---*/

.about-section2 p.section-dsc-1 {
    width: 100%;
}

.img2 img {
    margin: -20px 16px 10px 0;
}

.about-list ul li span {
    margin: -30px 0 10px 35px;
}

.about-thumb2 img {
    width: 100%;
    margin-left: 0;
}

.about-thumb2:before {
    width: 296px;
}

.text {
    display: none;
}

.about-shape2 {
    display: none;
}

/*--brand-section---*/

.brand-text:before {
    width: 18%;
}

.brand-text:after{
    width: 18%;
}

.single-brand-box {
    padding: 30px 50px 30px;
}

/*--testimonial-section---*/
.testi-content p {
    font-size: 16px;
    line-height: 30px;
    padding: 22px 0px 5px;
    width: 100%;
}

/*--event-section---*/

.event-thumb img {
    width: 100%;
}

.event-thumb {
    margin-right: 18px;
}

.event-content a {
    font-size: 18px;
}

/*--blog-section---*/

.blog-button {
    text-align: left;
    margin: 0 0 20px;
}

.meta-text h3 a {
    font-size: 20px;
    line-height: 30px;
}

.blog-description p {
    margin-top: -45px;
}

.blog-button a {
    padding: 12px 34px;
}

/*--subscribe-section---*/

.row.upper {
    padding: 0 5px 0;
    height: 240px;
}

.subscribe-icon {
    margin: 6px 10px 0 0;
}

.subscribe-content h6 {
    font-size: 14px;
}

.subscribe-content h1 {
    font-size: 21px;
}


.mail-address {
    display: inline;
    float: left;
}

.mail-address input {
    padding: 12px 50px 12px 30px;
}

.Subcribe-button {
    margin-top: 15px;
}

.Subcribe-button button {
    padding: 12px 45px;
}

/*--slider-style-two-section---*/
.hero-content h5 {
    font-size: 13px;
}

.hero-content h1 {
    font-size: 26px;
    line-height: 35px;
}

.hero-content p {
    font-size: 15px;
    line-height: 30px;
    width: 90%;
    margin: 0px 0 12px;
}

.hero-button a {
    margin-bottom: 30px;
    padding: 12px 32px;
}

.video-button a i {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.hero-icon {
    display: none;
}

.single-counter {
    margin-top: 20px;
}

.counter-content h3 {
    font-size: 22px;
}

.hero-thumb img {
    width: 100%;
    margin-top: 30px;
}

.hero-shape {
    display: none;
}

.about-list2 ul li {
    display: none;
}

.call-do-action-area .text-center {
    text-align: left!important;
    margin: 40px 20px 0;
}

.call-do-action-button a {
    padding: 12px 32px;
}

.team-button {
    text-align: left;
    margin-bottom: 30px;
}

.team-section .section-title {
    margin-bottom: 30px;
}

.team-shape {
    left: 47px;
}

.team-button a {
    padding: 12px 34px;
}

/*--breadcumb-section---*/

.breadcumb-title h1 {
    font-size: 45px;
    margin-top: 0px;
}

/*--contact-section---*/

.breadcumb-title h1 {
    font-size: 30px;
}

.single-contact-us-box {
    padding: 55px 0 35px 25px;
}

.contact-us-content p {
    font-size: 16px;
}

.contact-from-section p.section-dsc-1 {
    width: 100%;
}

.widget_search form input {
    padding: 15px 25px 15px 20px;
}

.widget_search form i {
    right: 15px;
}

.rpost-title a {
    font-size: 13px;
    line-height: 22px;
    width: 100%;
}

.rpost-title span {
    font-size: 12px;
}

.widget-sidebar-box {
    padding: 35px 0 11px 15px;
}

.tag-item ul li a {
    padding: 5px 8px;
}

.submit-button.upper button {
    margin-bottom: 30px;
}

.blog-details-section {
    padding: 40px 0;
}

.blog-details-meta-text {
    margin: 30px 0 20px;
}

.blog-details-content a {
    font-size: 26px;
}

.blog-details-meta-text p i {
    padding-right: 8px;
}

.blog-details-meta-text p {
    display: flex;
}

.blog-details-list {
    margin: 25px 0 5px;
}

.blog-details-list ul li i {
    display: none !important;
}

.blog-details-list ul li span {
    font-size: 16px;
}

.post-list {
    margin-bottom: 10px;
}

.post-title h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-details-content h3 {
    font-size: 20px;
    margin: 20px 0 30px;
}

.blog-details-comment-thumb {
    float: inherit;
}

.blog-details-content a {
    font-size: 16px;
}

.blog-details-comment-thumb img {
    margin-bottom: 20px;
}

.blog-details-comment-content {
    margin-bottom: 0px;
}

.blog-details-comment.up {
    margin-top: 30px;
}

.event-details-content a {
    font-size: 20px;
    margin: 15px 0 10px;
}

.event-details-list ul li i {
    display: none !important;
}

.event-details-content h3 {
    font-size: 20px;
}

.social-info p {
    font-size: 14px;
}

.event-sidebar-box {
    padding: 35px 15px 35px;
}

.event-sidebar-title a {
    font-size: 15px;
    line-height: 22px;
}

.department-details-content a {
    font-size: 26px;
    margin: 20px 0 10px;
}

.department-details-list ul li i {
    display: none !important;
}

.faq-title {
    margin-top: 20px;
}

.faq-content h3 {
    font-size: 20px;
}

.accordion li a {
    padding: 14px 5px 14px 5px;
    font-size: 16px;
}

.accordion a:before {
    display: none;
}

.accordion a:before {
    display: none;
}

.accordion a:after {
    display: none;
}

ul.widgetsidebar-menu li a:before {
    width: 260px;
}

.service-details-content a {
    font-size: 24px;
    margin: 15px 0 10px;
}

.service-details-text h4 {
    font-size: 20px;
    margin: 10px 0 10px;
}

.portfolio-details-content a {
    font-size: 25px;
    color: #222222;
    font-weight: 600;
    font-family: "Poppins";
    margin: 25px 0 20px;
}

li.upper {
    margin-right: 32px;
}

.causes-details-list ul li i {
    display: none !important;
}

.causes-details-button {
    margin-top: 15px;
    margin-bottom: 30px;
}

.causes-details-sidebar-box {
    padding: 35px 15px 35px;
}

.causes-details-sidebar-title a {
    font-size: 14px;
}

.causes-details-sidebar-post.causes:before {
    top: 145px;
}

}

